<head>
    <%- include('../partials/head') %>
</head>

<body>
    <%- include('../partials/navbar') %>

    <div class="pageContent">

      <div class="ingredientsContainer">
        <h2>Categories</h2>
        
        <% if(pageNum == 1) { %>
          <button id="next-btn" class="btn btn-sm btn-outline-primary">Next Page</button>
        <% } else { %>
          <div class="btn-group" role="group">
            <button id="prev-btn" class="btn btn-sm btn-outline-primary">Previous Page</button>
            <button id="next-btn" class="btn btn-sm btn-outline-primary">Next Page</button>
          </div>
        <% } %>

        <br><br>

        <ul class="list-group list-group-flush">
          <% categories.forEach(function(category) { %>
            <li class="list-group-item"><a href=<%= "/categories/" + category[0].replace(/ /g, "_") %>>%><%= category %></a></li>
          <% }) %>
        </ul>
      </div>
      <script src="/scripts/pagination.js"></script>
    </div>
</body>