<head>
    <%- include('../partials/head') %>
</head>

<body>
    <%- include('../partials/navbar') %>

    <div class="pageContent">

      <div class="ingredientsContainer">
        <h2>Ingredients</h2>
        <ul class="list-group list-group-flush">
          <% ingredients.forEach(function(ingredient) { %>
            <li class="list-group-item"><a href=<%= "/ingredients/"+ingredient.ID %>>%><%= ingredient.NAME %></a></li>
          <% }) %>
        </ul>
      </div>


    </div>
</body>