<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" type="text/css" href="/styles/recipes.css">
</head>

<body>
    <%- include('../partials/navbar') %>

    <div class="pageContent">

      <div class="recipesContainer">
        <h2>Recipes</h2>
        <div><%= recipe.name %></div>
      </div>


    </div>
</body>