<head>
    <%- include('../partials/head') %>
</head>

<body>
    <%- include('../partials/navbar') %>
    <div class="pageContent">
        <h1> Sign Up </h1>
        <form id="signup-form">
          <div class="form-group">
            <label for="usernameInput">Username</label>
            <input type="text" class="form-control" id="usernameInput" name="username" placeholder="Enter username">
          </div>
          <div class="form-group">
            <label for="passwordInput">Password</label>
            <input type="password" class="form-control" id="passwordInput" name="password" placeholder="Password">
          </div>
          <div class="form-group">
            <label for="nameInput">Full Name</label>
            <input type="text" class="form-control" id="nameInput" name="name" placeholder="Enter Name">
          </div>
          Gender
          <div class="form-check">
            <input class="form-check-input" type="radio" name="genderRadios" id="genderMale" value="M" checked>
            <label class="form-check-label" for="genderMale">
              Male
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="genderRadios" id="exampleRadios2" value="F">
            <label class="form-check-label" for="exampleRadios2">
              Female
            </label>
          </div>
          <br/>
          <button class="btn btn-primary" id="submit-btn">Submit</button>
        </form>
    </div>
    <script src="/scripts/signup.js"></script>
</body>